.container {
    display: flex;

    &__titulo {
        margin: 32px 0 24px 0;
    }

    &__botao {
        width: 290px;
    }

    &__texto {
        margin-bottom: 24px;

        &--total {
            border-top: 2px dotted black;
            padding: 12px;
        }
    }

    &__linha {
        margin: 30px 16px 0 16px;
        border-left: 4px solid black;
        height: 350px;
        width: 1%;
    }

    &__pagamento {
        width: 50%;

        form {
            width: 180px;

            input {
                margin: 8px 0;
                width: 300px;
                height: 25px;
            }

            article {
                display: flex;

                #validadeCartao {
                    width: 150px;
                }

                #codigoSegurancaCartao {
                    width: 142px;
                }

                #validadeCartao {
                    margin-right: 8px;
                }
            }
        }
    }

    &__resumo-compra {
        display: flex;
        flex-direction: column;
        width: 49%;

        .container__precos {
            text-align: center;
        }
    }
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media (max-width: 699px) {
    .container {
        display: flex;
        flex-direction: column;

        &__linha {
            display: none;
        }

        &__precos,
        &__texto--total {
            text-align: left !important;
        }

        &__texto--total {
            padding-left: 0;
        }
    }
}