<section class="container">
  <section class="container__pagamento">
    <h1 class="container__titulo">Pagamento</h1>

    <form [formGroup]="pagamentoForm" (ngSubmit)="onSubmit()">
      <input
        id="first-name"
        type="number"
        formControlName="numeroCartao"
        placeholder="Cartão"
      />
      <input
        id="nomeImpressoCartao"
        type="text"
        formControlName="nomeImpressoCartao"
        placeholder="Nome impresso"
      />
      <article>
        <input
          id="validadeCartao"
          type="number"
          formControlName="validadeCartao"
          placeholder="Validade"
        />

        <input
          id="codigoSegurancaCartao"
          type="number"
          formControlName="codigoSegurancaCartao"
          placeholder="Código de segurança"
        />
      </article>

      <button
        class="container__botao"
        type="submit"
        [disabled]="!pagamentoForm.valid"
      >
        Pagar agora!
      </button>
    </form>
  </section>

  <div class="container__linha"></div>

  <section class="container__resumo-compra">
    <h1 class="container__titulo">Resumo da compra</h1>
    <section class="container__precos">
      <article>
        <p class="container__texto">1x item 1</p>
        <p class="container__texto">R$ 100,00</p>
      </article>
      <article>
        <p class="container__texto">2x item 2</p>
        <p class="container__texto">R$ 200,00</p>
      </article>

      <p class="container__texto--total">Total: R$ 300,00</p>
    </section>
  </section>
</section>
