<section class="container">
  <section class="container__pagamento">
    <h1 class="container__titulo">Pagamento</h1>

    <form [formGroup]="pagamentoForm" (ngSubmit)="onSubmit()">
      <input
        id="first-name"
        type="text"
        formControlName="numeroCartao"
        placeholder="Número do Cartão"
        maxlength="19"
        mascaraNumeroCartao
      />
      <input
        id="nomeImpressoCartao"
        type="text"
        formControlName="nomeImpressoCartao"
        placeholder="Nome impresso"
        maxlength="50"
        mascaraNome
      />
      <article>
        <input
          id="validadeCartao"
          type="text"
          formControlName="validadeCartao"
          placeholder="Validade"
          maxlength="10"
          mascaraData
        />

        <input
          id="codigoSegurancaCartao"
          type="text"
          formControlName="codigoSegurancaCartao"
          placeholder="Código de segurança"
          maxlength="3"
          mascaraCodigoSeguranca
        />
      </article>

      <button
        class="container__botao"
        type="submit"
        [disabled]="!pagamentoForm.valid"
      >
        Pagar agora!
      </button>
    </form>
  </section>

  <div class="container__linha"></div>

  <section class="container__resumo-compra">
    <h1 class="container__titulo">Resumo da compra</h1>
    <section class="container__precos">
      <article *ngFor="let oferta of ofertas">
        <p class="container__texto">1x {{ oferta?.nome }}</p>
        <p class="container__texto">{{ oferta?.preco | currency : "BRL" }}</p>
      </article>
      <p class="container__texto--total">
        Total: {{ totalOfertas | currency : "BRL" }}
      </p>
    </section>
  </section>
</section>
