.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px black solid;
    border-radius: 5px;
    padding: 8px;

    &__logo {
        max-width: 50%;
        max-height: 60px;
        cursor: pointer;
    }

    &__title {
        font-size: 24px;
    }

    &__icon {
        max-width: 340px;
        max-height: 40px;
        cursor: pointer;
    }
}