.container {
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin: 24px 0;
    }

    &__card {
        display: flex;
    }
}

.container__cards {
    display: flex;
    align-items: center;
}

.botao-slide {
    width: 20px;
}

#botao-esquerdo {
    margin-right: 16px;
}

#botao-direito {
    margin-left: 16px;
}

.scrolling-wrapper {
    overflow-x: hidden;
}