<section class="container">
  <app-secao-categoria
    nomeSecao="Hoteis"
    idScrollingWrapper="scrolling-wrapper-hoteis"
    [dados]="hoteis"
    [loading]="loading"
    (comprar)="comprar($event)"
  ></app-secao-categoria>
  <app-secao-categoria
    nomeSecao="Gastronomias"
    idScrollingWrapper="scrolling-wrapper-gastronomias"
    [dados]="gastronomias"
    [loading]="loading"
    (comprar)="comprar($event)"
  ></app-secao-categoria>
  <app-secao-categoria
    nomeSecao="Entretenimento"
    idScrollingWrapper="scrolling-wrapper-entretenimentos"
    [dados]="entretenimentos"
    [loading]="loading"
    (comprar)="comprar($event)"
  ></app-secao-categoria>
</section>
