* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #d9d9d9;
}

button {
    display: flex;
    all: unset;
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 20px;
    width: 78%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}