* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f4f4f2;
}

button {
    display: flex;
    all: unset;
    background-color: #5b88a5;
    color: #191013;
    border-radius: 8px;
    font-weight: bold;
    height: 20px;
    width: 96%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}